<%- include('./partials/head') %>

<main>
  <div class="scroll-indicator">
    <span class="scroll-indicator-item"></span>
    <span class="scroll-indicator-item"></span>
    <span class="scroll-indicator-item"></span>
    <span class="scroll-indicator-item"></span>
  </div>
  <section class="section--hero">
    <section class="text--hero">
      <h1><%- locals.content.name %></h1> 
      <small>FDND'R</small>
      <p class="biography">Ik volg deze opleding om een echte FDND'r te worden.</p> 
      <p>Hier kun je ook nog wat leuke info over mij vinden.</p>
      <p class="scroll-down">Scroll naar beneden</p>
    </section>
    
    <div class="hero--image-container">
      <img src="/assets/profile-pic.jpeg" alt="Siem die op een festival staat met vrolijke kleuren.">
    </div>
    <nav class="socials">
      <a href="/"></a>
      <a href="/"></a>
      <a href="/"></a>
    </nav>

    <!-- <p>Likes: <%# likes %></p> -->

    <!-- <form method="post" action="/like">
      <button type="submit">Like</button>
    </form> -->
  </section>
</main>


<%- include('./partials/foot') %>