<%- include('./partials/head') %>

<main>
  <div class="scroll-indicator">
    <span class="scroll-indicator-item"></span>
    <span class="scroll-indicator-item"></span>
    <span class="scroll-indicator-item"></span>
    <span class="scroll-indicator-item"></span>
  </div>
  <section class="section--hero">
    <section class="text--hero">
      <h1>Siem Postmus</h1> 
      <small> FDND'R</small>
      <p class="biography"></p>
    </section>
    
    <div class="hero--image-container">
      <img src="/assets/profile-pic.jpeg" alt="Profielfoto van Siem">
    </div>
    <section class="socials">
      <a href="#"></a>
      <a href="#"></a>
      <a href="#"></a>
    </section>
  </section>
</main>


<%- include('./partials/foot') %>