:root {
  --primary-color: #ADA0A6;
}

/* CSS reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  background-color: var(--primary-color);
  height: 100vh;
  width: 100vw;
}

.section--hero {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end; */
  /* align-items: flex-end; */
}

.hero--image-container {
  display: flex;
  align-self: flex-end;
  width: 80%;

}
.hero--image-container img {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
}
